# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\YandexDisk\GeekBrains\Факультет Python-разработки\Вне четверти\2. Методы сбора и обработки данных из сети Интернет • 18.05.2021 MSK (UTC+3)\data_mining\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
